body{
    font-family: 'Mulish', sans-serif;
    background-color: ghostwhite;
    margin: 0px;
}
.head{
    overflow: hidden;
    background-image: url(images/pexels-faik-akmd-1025469.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    background-size: cover;
}
.top{
    float:left;
    padding-left: 60px;
}
.side{
    float: right;
}
.hire{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(87, 90, 255);
    padding: 10px;
    border-radius: 10px;
    transition: .3s ease-in-out;
    box-shadow: 5px 5px 10px rgb(47, 48, 54);
}
.hire a{
    text-decoration: none;
    color: white;
}
.hire:hover{
    background-color: rgb(209, 17, 56);
    transform: scale(1.2);
}
.linktop{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    background-color: rgb(17, 17, 17);
    border-radius: 8px;
    transition: .2s ease-out;
}
.linktop:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.sec02{
    padding: 5%;
    margin-bottom: 100px;
}
.td01{
    background-color: rgb(29, 39, 65);
    padding: 4%;
    text-align: justify;
    border-radius: 30px;
    box-shadow: 5px 5px 15px darkgray;
    color: white;
}
.myimg{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgb(2, 2, 2);
}
.td01 {
    transition: .5s ease;
}
.td01:hover{
    transform: scale(1.1);
}
.td02 {
    transition: .5s ease;
}
.td02:hover{
    transform: scale(1.2);
}
.myself{
    text-align: center;
    color: rgb(19, 19, 29);
    margin-bottom: 50px;
    transition: 0.3s ease-in-out;
}
.myself:hover{
    color: crimson;
}
.sec03{
    padding: 5%;
    background-image: url(images/banner-1557834.jpg);
    margin-bottom: 60px;
}
.tablle03 td{
    padding: 50px;
    text-align: justify;
    background-color: gainsboro;
    border-radius: 20px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    background-size: cover;
    transition: .5s ease-out;
}
.tablle03 td:hover{
    transform: scale(1.1);
    background-color: ghostwhite;
}
footer{
    text-align: center;
    background-color: rgb(41, 41, 44);
    color: white;

    padding-top: 10px;
    padding-bottom: 10px;
}